<h1 class="text-center">S'inscrire</h1>
<p class="text-center">新規登録</p>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">

      <div class="panel-body">
        <%= form_for(@user) do |f| %>
          <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
            <%= f.label :name, "Nom d'utilisateur" %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email, 'Address mail' %>
            <%= f.text_field :email, class: 'form-control', type: 'email' %>
          </div>
          <div class="form-group">
            <%= f.label :password, 'Mot de passe' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirmation de mot de passe' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          
            <%= f.submit "S'inscrire", class: 'btn btn-block btn-default' %>
       
        <% end %>  

  </div>
</div>