<h1 class="text-center">Toutes les reservations</h1>
<p>Find me in app/views/reservations/show.html.erb</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>user.id</th>
      <th>name</th>
      <th>email</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.user.id %></td>
        <td><%= reservation.user.name %></td>
        <td><%= reservation.user.email %></td>
        <td><%= reservation.reserved_at %></td>
      </tr>
    <% end %>  
    
  </tbody>
</table>

<% if params[:week] == '1' || params[:week] == nil  %>
  <%= link_to "Semaine prochaine→" , reservations_check_path(week: 2), class: 'right' %>
<% elsif params[:week] == '2' %>
  <%= link_to "←Retourner à cette semaine" , reservations_check_path(week: 1)%>
  <%= link_to "Semaine d'après→" , reservations_check_path(week: 3), class: 'right' %>
<% elsif params[:week] == '3' %> 
  <%= link_to "←Retourner" , reservations_check_path(week: 2)%> 
  <% end %>
  
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="active">#</th>
      <%  (0..6).each do |number| %>
        <%  @index = (@this_monday + number.day).strftime("%u").to_i %>
        <th class="active"><%= (@this_monday + number.day).strftime("#{@weeks[@index - 1]} %d %m %Y") %></th>
      <% end %>
    </tr>  
  </thead>
  <tbody>
    <% count = @reservations.count %>
    <tr> 
      <th>10h00-11h00</th>
        <% (0..6).each do |number| %>
        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day } %>
            <th><%= @user.name %></th>
          <% else %>
            <th><p>-</p></th>
          <% end %>
        <% end %>
    </tr>
    <tr>
      <th class="success">11h15-12h15</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes } %>            
        <th class="success"><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th class="success"><p>-</p></th>
          <% end %>
        <% end %>

    </tr>
    <tr>
      <th>12h30-13h30</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes * 2 } %>            
            <th><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th><p>-</p></th>
          <% end %>
        <% end %>

    </tr>
    <tr>
      <th class="info">13h45-14h45</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes * 3 } %>            
            <th class="info"><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th class="info"><p>-</p></th>
          <% end %>
        <% end %>

    </tr>
    <tr>
      <th>15h00-16h00</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes * 4 } %>            
            <th><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th><p>-</p></th>
          <% end %>
        <% end %>

    </tr> 
    <tr>
      <th class="warning">16h15-17h15</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes * 5 } %>            
            <th class="warning"><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th class="warning"><p>-</p></th>
          <% end %>
        <% end %>
  
    </tr>    
    <tr>
      <th>17h30-18h30</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes * 6 } %>            
            <th><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th><p>-</p></th>
          <% end %>
        <% end %>
    
    </tr>    
    <tr>
      <th class="danger">18h45-19h45</th>
      <% (0..6).each do |number| %>

        <% if @reservations[0..(count-1)].find{ |v| v == @next_lesson + number.day + 75.minutes * 7 } %>            
            <th class="danger"><p>Votre cours</p><%= link_to 'Annuler', reservation_path(@reservation), method: :delete, data: { confirm: "Etes-vous sûr?" }, class: 'btn btn-danger btn-xs' %></th>
          <% else %>
            <th class="danger"><p>-</p></th>
          <% end %>
        <% end %>
           
    </tr>        
  </tbody>
</table>  
